<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Gray Box Theme - Free Website Template</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <!--
    Template 2032 Gray Box
    http://www.tooplate.com/view/2032-gray-box
    -->
    <link th:href="@{/css/tooplate_style.css}" rel="stylesheet" type="text/css"/>

    <script language="javascript" type="text/javascript">
        function clearText(field) {
            if (field.defaultValue == field.value) field.value = '';
            else if (field.value == '') field.value = field.defaultValue;
        }
    </script>

    <script type="text/javascript" th:src="@{/scripts/swfobject/swfobject.js}"></script>

    <script type="text/javascript">
        var flashvars = {};
        flashvars.cssSource = "css/piecemaker.css";
        flashvars.xmlSource = "piecemaker.xml";

        var params = {};
        params.play = "true";
        params.menu = "false";
        params.scale = "showall";
        params.wmode = "transparent";
        params.allowfullscreen = "true";
        params.allowscriptaccess = "always";
        params.allownetworking = "all";

        swfobject.embedSWF('piecemaker.swf', 'piecemaker', '960', '500', '10', null, flashvars,
            params, null);

    </script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/ddsmoothmenu.css}"/>

    <script type="text/javascript" th:src="@{/scripts/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/ddsmoothmenu.js}">

        /***********************************************
         * Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
         * This notice MUST stay intact for legal use
         * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
         ***********************************************/

    </script>

    <script type="text/javascript">

        ddsmoothmenu.init({
            mainmenuid: "tooplate_menu", //menu DIV id
            orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
            classname: 'ddsmoothmenu', //class added to menu's outer DIV
            //customtheme: ["#1c5a80", "#18374a"],
            contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        })

    </script>

</head>
<body>
<header th:replace="fragments/header"></header>
<div id="tooplate_fw">
    <div id="piecemaker">
        <section th:include="${bodyContent}"></section>
    </div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>